.dub
dub.selections.json
docs.json
__dummy.html
docs/
/servefolder
servefolder.so
servefolder.dylib
servefolder.dll
servefolder.a
servefolder.lib
servefolder-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
tmp_servefolder.txt
